.article {
    display: grid;
    gap: 1rem;
    margin: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  .wraper {
    list-style: none;
    background-color: rgba(207, 207, 207, 0.651);
    box-shadow: 0 1px 6px black;
    border-radius: 3px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  
  .wraper img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
  }
  
  .title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .imgs_details img {
    height: 330px;
    width: 330px;
    border-radius: 50%;
  }
  
  .card_top {
    display: flex;
    gap: 1rem;
  }
  
  .card_bottom h3 {
    font-size: 2rem;
  }
  
  .category {
    font-size: 1rem;
    text-transform: uppercase;
    color: rgb(90, 90, 90);
  }
  
  .details {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: rgb(198, 201, 201);
    margin: 2rem;
    background-color: rgba(207, 207, 207, 0.651);
    box-shadow: 0 1px 6px black;
    padding: 2rem;
    border-radius: 3px;
  }
  
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 800px;
  }
  